<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Início</a></li>
  </ol>
</nav>

<div class="px-3">
  <div class="row mt-3">
    <div class="col-sm-3" [ngClass]="{
      'pl-0': i % 4 == 0,
      'pr-0': i % 4 == 3
    }" *ngFor="let item of cardsInfo; let i = index">
      <div class="info p-2 informativo d-flex align-items-center justify-content-between">
        <div class="valor">{{item.valor}}</div>
        <div>{{item.descricao}}</div>
      </div>
    </div>
  </div>
</div>
