<div class="card">
  <div class="card-header">Preencher agenda de alunos</div>
  <div class="card-body" *ngIf="turma?.alunos">
    <div class="form-check mb-2">
      <input [(ngModel)]="modoVisualizacao" class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
      <label class="form-check-label" for="flexCheckChecked">
        Modo de visualização
      </label>
    </div>
    <ng-container *ngFor="let item of turma.alunos; let alunoIndex = index">
      <div class="card mb-2">
        <div class="card-header d-flex justify-content-between align-items-center" (click)="item.visivel = !item.visivel" [ngClass]="{
           'valido': item.status,
           'invalido': !item.status
        }">
          <div class="font-weight-bold">{{item.nome}} {{item.sobrenome}}</div>
          <i class="fa" aria-hidden="true" [ngClass]="{
            'fa-check' : item.status,
            'fa-times' : !item.status
          }"></i>
        </div>
        <div class="card-body" *ngIf="item.visivel">
          <div class="row">
            <div class="col-sm-12" *ngIf="!modoVisualizacao">
              <h3>Definições</h3>
              <div *ngFor="let opt of item.variaveis">
                <div class="form-group">
                  <label>{{opt.titulo}}</label>
                  <select class="form-control" [(ngModel)]="opt.selecionado" *ngIf="opt.opcoes.length > 0; else campoTexto">
                    <option disabled selected>Selecione</option>
                    <ng-container *ngFor="let opcao of opt.opcoes; let i = index">
                      <option [ngValue]="opcao">{{opcao}}</option>
                    </ng-container>
                  </select>
                  <ng-template #campoTexto>
                    <textarea class="form-control" [(ngModel)]="opt.selecionado"></textarea>
                  </ng-template>
                </div>
              </div>
              <div class="d-flex">
                <button class="btn btn-sm btn-primary mr-2" (click)="salvarInformacoesAluno(alunoIndex)">Salvar</button>
                <button class="btn btn-sm btn-danger mr-2" (click)="reiniciarAluno(alunoIndex)">Reiniciar</button>
              </div>
            </div>
            <div class="col-sm-12" *ngIf="modoVisualizacao">
              <div>
                <quill-editor [(ngModel)]="item.html" [placeholder]="'Preencha a agenda.'"></quill-editor>
                {{item.html}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <button class="btn btn-info btn-sm" [disabled]="existeAlunoPendente" (click)="salvar()">Salvar</button>
  </div>
</div>
