<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Agenda</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">Agenda</div>
  <div class="card-body">
    <div class="card  mb-2">
      <div class="card-header">Suas Turmas</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <!-- [routerLink]="['preencher', item.id]" -->
            <div class="p-2 bg-info br text-white pointer" *ngFor="let item of turmas$ | async" (click)="agendaPorTurma(item.id)">{{item.matricula}}</div>
          </div>
        </div>
      </div>
    </div>

    <app-grid [config]="grid" [service]="agendaService"></app-grid>
  </div>
</div>
