<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Agenda</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">Agenda</div>
  <div class="card-body">
    <div class="card  mb-2">
      <div class="card-header">Suas Turmas</div>
      <div class="card-body">
        <div class="form-row">
          <div class="col-sm-2 mb-2" *ngFor="let item of turmas$ | async">
            <!--  -->
            <div class="p-2 bg-info br text-white pointer" (click)="agendaPorTurma(item.id)" >{{item.matricula}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row" *ngIf="turmaSelecionada">
      <div class="col-sm-2 mb-2" *ngFor="let item of agendas$ | async">
        <div class="bg-primary br text-white p-2 pointer" [routerLink]="['editar', item.id]">
          {{item.dataEscrita | date: 'dd/MM/yyyy HH:mm:ss'}}
        </div>
      </div>
      <div class="col-sm-2 mb-2">
        <div class="bg-light br p-2 pointer" [routerLink]="['preencher', turmaSelecionada]">
          <i class="fa fa-plus" aria-hidden="true"></i> Adicionar
        </div>
      </div>
    </div>
  </div>
</div>
