th {
  background-color: #f8f9fc !important;
  border-bottom: 3px solid #e8e8e8 !important;
  color: #4e73df!important
}

tr {
  border-radius: 5px !important;
}

.table-radius {
  border-radius: 0.4rem;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #f8f9fc !important
}

thead {
  font-size: 14px;
  font-weight: bolder;
}

tbody {
  font-size: 12px !important;
  font-weight: 300 !important;
}
