<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Esqueci minha senha!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="email">Informe o seu email:</label>
        <input type="text" class="form-control" [(ngModel)]="emailRedefinicao" name="emailRedefinicao"/>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn-sm" (click)="modal.close('Save click')">Enviar redefinição de senha</button>
  </div>
</ng-template>


<div class="d-flex m-auto w-100 fulfil align-items-center justify-content-center">
  <div class="imagem">
  </div>
  <div>
    <div class="mb-4">
      <div class="m-auto w-100 text-center logo">{{environment.nomeSistema}}</div>
      <div class="m-auto w-100 text-center subtext">{{environment.descricaoSistema}}</div>
    </div>
    <div class="card">
      <div class="card-header">Autenticação (Módulo {{modulo}})</div>
      <div class="card-body">
        <form #formulario="ngForm">
          <div class="form-group">
            <label for="login">Nome de Usuário</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.login" name="login" required name="login" />
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" [(ngModel)]="usuario.senha" name="senha" required name="senha" />
          </div>
        </form>
        <a [routerLink]="" (click)="open(content)">Esqueci minha senha.</a>
        <button (click)="autenticar()" type="submit" class="btn btn-primary w-100 mt-2">Autenticar</button>
      </div>
    </div>
  </div>
</div>
