@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

/* You can add global styles to this file, and also import other style files */
body {
  font-size: 12px;
  font-family: 'Oxygen', sans-serif;
  min-height: 100% !important;
  height: 100%;
}

.card {
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
  border: 1px solid #e3e6f0;
}

.card-header {
  background-color: #f8f9fc;
  letter-spacing: 0.6px;
  border-left: 5px solid #4e73df!important;
  font-weight: bolder;
  font-size: 14px;
  color: #4e73df!important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #2c3e50;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #16a085;
  outline: 0 none;
}

.logo {
  font-weight: bold;
  font-size: 1.8rem;
  color: #2c3e50;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 3px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 3px solid #a94442; /* red */
}

.btn-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}
