.card {
  margin: 1rem;
}

.bg-info {
  font-size: 1.3rem;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .h100 {
    height: 100vh;
  }
}
